.leftRect {
  position: absolute;
  width: 689px;
  height: 100vh;
  left: 0px;
  top: 0px;

  background: #272727;
}

.container {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  max-height: 100vh;
  max-width: 100vw;

  background: #212121;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 110px;

  position: absolute;
  width: 473px;
  height: 482px;
  left: 108px;
  top: 219px;
}

.heroContainer img {
  width: 345px;
  height: 230px;

  border-radius: 12px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.content {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 32px;

  width: 473px;
  height: 142px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.content > h3 {
  width: 264px;
  height: 20px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 20px;
  /* identical to box height, or 71% */

  text-align: center;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.content > p {
  width: 473px;
  height: 90px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  /* or 188% */

  text-align: center;
  letter-spacing: 0.01em;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Login styles */
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 105px;

  position: absolute;
  width: 355px;
  height: 600.92px;
  left: 826px;
  top: 117px;
}

.loginContainer > input {
  width: 355px;
  height: 50px;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: green;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 76px;
  width: 355px;
  height: 450.92px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
